{
  "swagger": "2.0",
  "info": {
    "title": "tip",
    "description": "This is an tip for all my tip entries. I use a single tip system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "tip.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tip/": {
      "get": {
        "summary": "all tips",
        "description": "all tips",
        "operationId": "gettips",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across tip",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tip"
              }
            }
          }
        },
        "tags": [
          "Tips"
        ]
      },
      "post": {
        "summary": "add a tip post",
        "description": "add a tip post",
        "operationId": "addTip",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "postData",
            "description": "ttle for the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "postData",
            "description": "author of the tip",
            "required": false,
            "type": "string"
          },
          {
            "name": "details",
            "in": "postData",
            "description": "summary for the tip",
            "required": false,
            "type": "string"
          },
          {
            "name": "image",
            "in": "postData",
            "description": "full text for the tip",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tip"
              }
            }
          }
        },
        "tags": [
          "Tips"
        ]
      }
    },
    "/tip/{tip_id}/": {
      "get": {
        "summary": "Retrieve a tip using its slug",
        "description": "Returns the tip detail",
        "operationId": "gettip",
        "parameters": [
          {
            "name": "tip_id",
            "in": "path",
            "description": "the unique id for tip entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tip"
              }
            }
          }
        },
        "tags": [
          "Tips"
        ]
      },
      "put": {
        "summary": "update tip",
        "description": "update tip",
        "operationId": "updatetip",
        "parameters": [
          {
            "name": "tip_id",
            "in": "path",
            "description": "the unique id for tip entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "postData",
            "description": "ttle for the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "postData",
            "description": "author of the tip",
            "required": false,
            "type": "string"
          },
          {
            "name": "details",
            "in": "postData",
            "description": "summary for the tip",
            "required": false,
            "type": "string"
          },
          {
            "name": "image",
            "in": "postData",
            "description": "full text for the tip",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tip"
              }
            }
          }
        },
        "tags": [
          "Tips"
        ]
      },
      "delete": {
        "summary": "delete tip",
        "description": "delete tip",
        "operationId": "deletetip",
        "parameters": [
          {
            "name": "tip_id",
            "in": "path",
            "description": "the unique id for tip entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tip"
              }
            }
          }
        },
        "tags": [
          "Tips"
        ]
      }
    },
    "/tip/{tip_id}/tags/": {
      "get": {
        "summary": "tip tags",
        "description": "tip tags",
        "operationId": "gettipTags",
        "parameters": [
          {
            "name": "tip_id",
            "in": "path",
            "description": "id for tip",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to tip",
        "description": "add tag to tip",
        "operationId": "addtipTag",
        "parameters": [
          {
            "name": "tip_id",
            "in": "path",
            "description": "id for the tip",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/tip/{tip_id}/tags/{tag}": {
      "delete": {
        "summary": "delete tip tag",
        "description": "delete tip tag",
        "operationId": "deleteTipTag",
        "parameters": [
          {
            "name": "tip_id",
            "in": "path",
            "description": "id for the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tip",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from tip",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tip Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    }
  },
  "definitions": {
    "tip": {
      "properties": {
        "tip_id": {
          "description": "unique id of the tip",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the tip was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the tip",
          "type": "string"
        },
        "author": {
          "description": "author of the tip",
          "type": "string"
        },
        "details": {
          "description": "details for the tip",
          "type": "string"
        },
        "image": {
          "description": "image for the tip",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}